### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

### Node/React ###
node_modules/
bower_components/
dist/
.build/

*.log
logs/
*.sublime*
*.backup.*
*.back.*

# 디자인 파일
*.psd
*.sketch
thumb

# 환경 파일
.env