.routeCardContainer {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.SliderContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /* overflow: visible; or 제거 */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
